{% extends 'index.html' %}
{%  block  content %}
<div class="container">

  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-table"></i> Agregando Nuevo Horario</div>
    <div class="card-body">
      <div class="table-responsive">

        <form class=""  method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <!--a class="related-widget-wrapper-link change-related" id="change_id_idcurso" data-href-template="/admin/Curso/curso/__fk__/change/?_to_field=id&amp;_popup=1" title="Cambiar curso seleccionado"><img src="/static/admin/img/icon-changelink.svg" alt="Modificar"></a><a class="related-widget-wrapper-link add-related" id="add_id_idcurso" href="/admin/Curso/curso/add/?_to_field=id&amp;_popup=1" title="Añadir otro curso"><img src="/static/admin/img/icon-addlink.svg" alt="Añadir"></a>
    <a class="related-widget-wrapper-link change-related" id="change_id_iduser" data-href-template="/admin/auth/user/__fk__/change/?_to_field=id&amp;_popup=1" title="Cambiar usuario seleccionado"><img src="/static/admin/img/icon-changelink.svg" alt="Modificar"></a><a class="related-widget-wrapper-link add-related" id="add_id_iduser" href="/admin/auth/user/add/?_to_field=id&amp;_popup=1" title="Añadir otro usuario"><img src="/static/admin/img/icon-addlink.svg" alt="Añadir"></a-->

    <input type="submit" name="" value="Añadir Horario"  class="btn btn-primary form-control text-center">

  </form>



          {% if asistencias %}
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Hora Entrada</th>
              <th>Hora Salida</th>
              <th>Fecha</th>
              <th>Curso</th>
              <th>Docente</th>

            </tr>
          </thead>

          <tbody>
            {% for asistencias in asistencias %}
            <tr>
              <td>{{ asistencias.id }}</td>
              <td>{{ asistencias.id_hora_entrada.h_entrada_str }}</td>
              <td>{{ asistencias.h_salida_str }}</td>
              <td>{{ asistencias.id_hora_entrada.f_entrada }}</td>
              <td>{{ asistencias.id_hora_entrada.idhorario.idcurso.curso }}</td>
              <td>{{ asistencias.id_hora_entrada.idhorario.iduser }}</td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
          {% endif %}
      </div>
    </div>
    <div class="card-footer small text-muted">UNIVERSIDAD NACIONAL FEDERICO VILLARREAL</div>
  </div>



</div>


{%  endblock  %}
